@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
    font-family: 'Acme', sans-serif;
}

.viber{
    color: #59267c;
}

.logocolor{
    color: #D6161C;
}


.whitelight{
    background-color: #FFEFD6;
}
.yellowlight {
    background-color: #FFF1A3;
}

.takephoto img{
    max-width: 70vw;
}
